header{
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    min-height: 100px;
    background-color: aquamarine;
}

.bg-red{
    background-color: red;
}


.first-section{
    padding-top: 100px;
}
/*utilities*/
.border-d{
    border: 1px dotted black;
}